@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Kalam:wght@300;400;700&family=Merienda:wght@300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Yatra+One&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #b91c1c; /* Deep red (left card) */
  --color-primary-light: #dc2626; /* Lighter red */
  --color-primary-dark: #7f1d1d; /* Darker red */

  --color-secondary: #f97316; /* Warm orange (right card) */
  --color-secondary-light: #fb923c; /* Lighter orange */
  --color-secondary-dark: #c2410c; /* Deeper orange */

  --font-extras: 'kalam', cursive;
  --font-display: 'Aclonica', sans-serif;
  --font-heading: 'Merienda', cursive;
  --font-subheading: 'Yatra One', system-ui;
  --font-body: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Merienda', cursive;
}
body {
  font-family: 'Nunito', sans-serif;
}
button {
  font-family: 'kalam', cursive;
}
